body,
html {
  width: 100%;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
} 

main {
  margin-bottom: 2rem;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, var(--pure-white) 0%, var(--pure-white) 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  flex: 1;
  padding: 2rem 5%;
}